a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Inter var', sans-serif;
  display: flex;
  margin: auto;

  /* These are determined by the widths of #main and #sidebar set below. */
  transform: translateX(calc(-260px / 4));
  width: calc(260px + 720px);
}

p {
  hyphens: auto;
  text-align: justify;
}

li > p {
  margin: 0;
}

#main {
  box-sizing: border-box;
  width: 720px; /* Don't forget to also change CSS for body */
}

#sidebar {
  box-sizing: border-box;
  width: 260px; /* Don't forget to also change CSS for body */

  height: 100vh;
  position: sticky;
  top: 0;
}

.tooltip {
  overflow: auto;
  scrollbar-width: thin;

  border-radius: 0.5em;
  padding: 0 1em;

  position: absolute;
  max-height: 240px;
  width: 480px;

  opacity: 0;
  transition: all 0.2s ease-out;
  translate: 0 0.5em;
}

.tooltip.display {
  opacity: 1;
  transition: all 0.2s ease-out;
  translate: 0;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #80cbc4;
  }

  body {
    background: #212121;
    color: #b0bec5;
  }

  ::selection {
    background: #404040;
    color: #ffffff;
  }

  .tooltip {
    background: #292929;
    box-shadow: 0 0 1em #1a1a1a;
  }
}

@media (prefers-color-scheme: light) {
  a {
    color: #39adb5;
  }

  body {
    background: #fafafa;
    color: #546e7a;
  }

  ::selection {
    background: #80cbc440;
    color: #546e7a;
  }

  .tooltip {
    background: #ffffff;
    box-shadow: 0 0 1em #eae8e8;
  }
}
