a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Inter var', sans-serif;
}

hr {
  border-bottom: none; /* border-top is 1px by defuault. */
  width: 100%;
}

p {
  hyphens: auto;
  line-height: 1.5em;
  text-align: justify;
}

li > p {
  margin: 0;
}

#content {
  display: flex;
  margin: auto;

  /* The 16em comes from the width of #sidebar. */
  /* Both these divisions should have the same divisor. */
  transform: translateX(max(calc(-16em / 4), calc((60em - 100vw) / 4)));
  max-width: 60em;
}

#main {
  box-sizing: border-box;
  max-width: calc(100% - 16em); /* The 16em comes from the width of #sidebar. */
}

#sidebar {
  box-sizing: border-box;
  padding: 1.5em 1.5em 1.5em calc(1.5em - 8px); /* The 8px comes from the margin of body. */
  width: 16em; /* The CSS for #main and #content depend on this value. */

  height: 60vh;
  position: sticky;
  top: 4.34em; /* This is aligned with the content immediately after the first heading. */

  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

#sidebar-button {
  display: none;
}

.tooltip {
  overflow: auto;
  scrollbar-width: thin;

  border-radius: 0.5em;
  padding: 0 1em;

  position: absolute;
  max-height: 240px;
  width: 480px;

  opacity: 0;
  transition: all 0.2s ease-out;
  translate: 0 0.5em;
}

.tooltip.display {
  opacity: 1;
  transition: all 0.2s ease-out;
  translate: 0;
}

/* The 8px comes from the margin of body. */
@media (max-width: calc(60em + 2 * 8px)) {
  #content {
    transform: none;
  }

  #main {
    margin: auto;
    max-width: none;
    /* The 60em comes from the width of #content. */
    /* The 16em comes from the width of #sidebar. */
    /* The 8px comes from the margin of body. */
    width: min(calc(60em - 16em), calc(100vw - 2 * 8px));
  }

  #sidebar {
    display: none;
    padding: 1.5em calc(1.5em - 8px) 1.5em 1.5em; /* The dimensions are similar to the original. */
    position: fixed;
    right: 16px;
    transform: translateY(8px);
    z-index: 99;
  }

  #sidebar-button {
    cursor: pointer;
    display: block;
    height: 1em;
    position: fixed;
    right: 16px;
    top: 16px;
    width: 1em;
    z-index: 99;

    font-size: 1.67em;
    padding: 0.2em 0.5em 0.8em; /* The padding is offset to center the text. */
    text-align: center;
  }

  .sidebar-display {
    display: flex !important; /* The !important is to induce higher precedence than #sidebar. */
  }

  @media (prefers-color-scheme: dark) {
    #sidebar,
    #sidebar-button {
      background: #292929;
      box-shadow: 0 0 1em #1a1a1a;
    }
  }

  @media (prefers-color-scheme: light) {
    #sidebar,
    #sidebar-button {
      background: #ffffff;
      box-shadow: 0 0 1em #eae8e8;
    }
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: #80cbc4;
  }

  body {
    background: #212121;
    color: #b0bec5;
  }

  ::selection {
    background: #404040;
    color: #ffffff;
  }

  .tooltip {
    background: #292929;
    box-shadow: 0 0 1em #1a1a1a;
  }
}

@media (prefers-color-scheme: light) {
  a {
    color: #39adb5;
  }

  body {
    background: #fafafa;
    color: #546e7a;
  }

  ::selection {
    background: #80cbc440;
    color: #546e7a;
  }

  .tooltip {
    background: #ffffff;
    box-shadow: 0 0 1em #eae8e8;
  }
}
